@model IEnumerable<BigSchool.Models.Course>
@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <ul>
        @foreach (var course in Model)
        {
            <li>
                @course.Datetime - @course.Lecturer.Name
            </li>
        }
    </ul>
    <ul class="course">
        @foreach (var course in Model)
        {
            <li>
                <div class="date">
                    <div class="month">
                        @course.Datetime,toString("MM")
                    </div>
                    <div class="day">
                        @course.Datetime,toString("dd")
                    </div>
                </div>
                <div class="detail">
                    <span class="lecturer">
                        @course.Lecturer.Name
                    </span>
                    <span class="category">
                        @course.Category.Name
                    </span>
                    <button data-course-id="@course.Id" 
                            class="btn btn-default btn-sm js-toogle-attendance">Think?</button>
                </div>
            </li>
        }
    </ul>
    @section scripts
    {
        <script>
            $(document).ready(function ()
            {
                $(".js-toggle-attendance").click(function (e) {
                    var button = $(e.target);
                    $.post("/api/attendance", { courseId: button.attr("data-course-id") })
                        .done(function()
                    {
                        button
                            .removeClass("bnt-defaut")
                            .addClass("bnt-info")
                            .text("Going");
                    })
                    .fail(function ()
                    {
                        alert("Something failed!");
                    });

                    //$(".js-toggle-follow").click(function (e) {
                    //    var button = $(e.target);
                    //    $.post("/api/following", { followeeId: button.attr("data-user-id") })
                    //        .done(function () {
                    //            button.text("Following");
                    //        })
                    //        .fail(function () {
                    //            alert("Something failed!");
                    //        });
                    //});
            });
           
        </script>
     }

    @*<div class="details">
        <span class="lecturer">
            @course.Lectureer.Name
            @if (Model.ShowAction)
            {
                <button class="btn btn-link btn-sm js-toogle-attendance"></button>
            }
        </span>
        <span class="category">
              @course.Category.Name
        </span>
        @if (Mode.ShowAcction)
        {
            <button data-course-id="@course.Id" class="btn"></button>
        }

    </div>*@
</div>




